body {
  background:  #eee;
}

#carousel{ 
  margin: 100px;
  min-width: 130px;
}

.slider-box{
  border: 3px solid #666;
  background: red;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 15px;
  float: left;
}

#carousel .slide .bgColor {
  background: #fff;
}

#carousel .slide2 .bgColor {
  background-color: pink;
}

#carousel .slide3  {
  background-color: red;
}​