
#carousel{ 
  margin: 100px;
}

#carousel .slide {
	padding: 15px;
}

.slider-box{
  border: 3px solid #666;
  background: red;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 150px;
  margin: 10px;
  float: left;
}

#carousel .slide1 .bgColor {
	background-color: pink;
}

#carousel .slide3  {
	background-color: red;
}